body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #005197;
}

@-moz-document url-prefix() {
  :focus,
  button:focus,
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring,
  a:focus,
  input:focus {
    outline: 2px solid #000;
    outline-offset: 1px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  position: fixed;
  top: 10px;
  right: 10px;
  filter: drop-shadow(5px 12px 10px #0b1d42);
}

.logo a {
  display: block;
  padding: 15px;
}

.logo img {
  display: block;
  width: 50px;
  transition: transform 500ms;
}

.logo:hover img {
  transform: rotate(360deg);
}

.node {
  width: 200px;
  margin: 5px 0;
}
.node-children {
  padding-left: 5px;
}

.navbar,
.content {
  border: 2px solid #242f41;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  background: linear-gradient(
    0deg,
    rgb(56 53 105) 63%,
    rgba(91, 135, 185, 1) 100%
  );
  color: #fff;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}

.title {
  margin: 0 5px;
}

.title-children-amount {
  opacity: 0.8;
}

.content {
  padding: 10px;
  border-top: none;
  background: #fff;
}

.btn {
  box-sizing: border-box;
  border-style: none;
  border-radius: 2px;
  font-weight: 800;
  padding: 3px 9px;
  cursor: pointer;
  transition: background 200ms;
}

.btn-add-child {
  margin-top: 5px;
  background: #e3e3e3;
}

.btn-remove {
  margin: 2px;
  background: #848daf;

  /* color: #a3b2bb; */
  color: #fff;
}

.btn-counter {
  background: #438dd0;
  color: #fff;
  width: 30px;
}

.btn-remove:hover {
  background: #ff3b3b;
}

.btn-counter:hover {
  background: #0086ff;
}

.btn-add-child:hover {
  background: #efefef;
}

@media (min-width: 500px) {
  .node-children {
    padding-left: 25px;
  }
}
